@charset "utf-8";
.clearfix:after {
     clear: both;
     content: ".";
     display: block;
     height: 0px;
     line-height: 0;
     visibility: hidden;
}
/*
.clearfix {
     display: inline-block;
}
*/
html[xmlns] .clearfix {
     display: block;
}

* html .clearfix {
     height: 1%;
}
h1 {
     font-size: 2em;
     margin: 0.67em 0px;
}

h2 {
     font-size: 1.5em;
     /*margin: 0.83em 0px;*/
}

h3 {
     font-size: 1.17em;
     /*margin: 1em 0px;*/
}

h4 {
     font-size: 1em;
     /*margin: 1.33em 0px;*/
}

h5 {
     font-size: 0.83em;
    /* margin: 1.67em 0px;*/
}

h6 {
     font-size: 0.75em;
    /* margin: 2.33em 0px;*/
}

.left {
	float: left;
}
.right {
	float: right;
}
.indent {
	text-indent: 30px;
}
.title {
	color: #FFF;
	font-size:1.1em;
}
.sub-title {
	color: #FFD400;
	font-family:Quark-Light,arial,helvetica,sans-serif;
	font-size:0.98em;
}
.text-yellow{
	color:#FCC214;
}
.text-red {
	color: #C03;
}

.b600 {
	font-weight: 600;
	text-transform: uppercase;
}
.email{
	text-transform:lowercase;
}



/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

@font-face {
font-family: Quark-Light;
src: url("../font/Quark-Light.otf") format("opentype");
}

@font-face {
font-family: Quark-Bold;
font-weight: bold;
src: url("../font/Quark-Bold.otf") format("opentype");
}
/*
@font-face {
	font-family: supermarket;
	font-style: normal;
	font-weight: normal;
	src: url("../font/supermarket.ttf") format('truetype');
}
*/
header{
	margin-top:0px;
}
body {
	background-color: #FFFFFF;
	background-image: url(../images/gray_jean.png);
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	/*font-weight:500;*/
	position: relative;
	color: #333333;
	line-height: 25px;
}
h1,h2,h3,h4{
	font-family: Quark-Light ,arial,helvetica,sans-serif;
	font-weight:600;
	text-transform: uppercase;
	
}
h1{
	font-size: 1.63em;
}
h3{
	font-size: 1.43em;
}
h4{
	font-size: 1.23em;
	font-weight:550;
}

#wrap-header {
	width: 100%;
	/*margin-bottom: 30px;*/
	height: auto;
}
#logo {
	/*background-color: #FFFFFF;*/
	background-repeat: no-repeat;
	text-align: center;
	margin-top: -8px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	padding-bottom: 5px;
	padding-top: 0px;
}
#logo img,#footer-logo-mobile img{
	height:auto;
	max-width:100%;
}
#slogan ul{
	font-family:  Quark-Bold ,arial,helvetica,sans-serif;
	margin-top:40px;
	margin-bottom:0px;
	padding-right:20px;
	display: block;
	text-align:center;
}
#slogan ul li{
	display: inline-block;
	margin-left:12px;
	font-size:2.93em;
	font-weight:700;
	text-transform: uppercase;
}

#hotline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.5em;
	background-image: url(../images/contact_icon.png);
	background-repeat: no-repeat;
	width: 130px;
	background-position: 10px;
	margin-right: 15px;
	padding-right: 15px;
	/*background-color: #FFD400;*/
	position: fixed;
	right: 1%;
	height: 40px;
	border: 4px solid #C1BFB2;
	/*
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border: 4px solid #D3D0A3;
	box-shadow: 4px 4px rgba(0, 1, 1, 0.1);
	*/
	margin-top: -20px;
}

#text-hotline {
	color: #272626;
	margin-left: 5px;
	font-size: 16px;
	padding-top: 8px;
}
#header-nav-desktop {
	font-family: Quark-Light ,arial,helvetica,sans-serif;
	font-size:1.2em;
	height: 50px;
	text-transform: uppercase;
	/*
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #272626;
	/*
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #272626;
	*/
	margin-top: 5px;
}
#header-nav-desktop ul {
	display: block;
	text-align: center;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	padding-left:50px;
}
#header-nav-desktop ul li{
	display: inline-block;
	margin-right: 10px;
	padding-top: 15px;
	margin-left: 5px;
	
	/*
	padding: 10px;
	border: 3px solid #272626;
	/*
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #272626;
	*/
}
#header-nav-desktop ul li a:link{
	display: block;
	width: 100%;
	text-decoration: none;
	color: #272626;
	font-weight: bold;

}
#header-nav-desktop ul li.active a { 
	color:#ADAA9C; 
	border-bottom:thick solid #ADAA9C;

}
#header-nav-desktop ul li a:hover{
	/*border-bottom: 2px solid #EA5B78;*/
	color:#FCC214;
}
#header-nav-mobile{
	display:none;
}
.dot{
	display: inline;
}

#wrap-banner{
	margin-top:5px;		
}
#banner {
	margin-top: 10px;
	text-align: center;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
}
#wrap-content {
	font-family: Quark-Light ,arial,helvetica,sans-serif;
	padding-top: 30px;
	padding-bottom: 30px;

}

.feature {
	font-size: 1.2em;
	font-family: Quark-Light, arial, helvetica, sans-serif;
	text-align: justify;
}


.feature img{
	height:auto;
	margin-bottom:15px;
	max-width:100%;
}
.feature-title {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.15em;
}
#wrap-icon {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#wrap-works img{
	/*background-color: #383B3E;*/
	border:10px solid white;
	width:auto;
	height:auto;
	max-width:100%;
	margin-right:5px;
}
.head-works h4{
	color:#FCC214;
	font-size:1.5em;
	margin:5px 0 10px 0;
}
.tag{
	margin:10px 0 20px 0px;
}
.tag ul{
	display:block;
	margin-top:5px;
}
.tag ul li{
	display:inline-block;
	font-size:0.9em;
	padding:5px 8px;
	margin:0px 10px 10px 0;	
}
.tag h5{
	font-size:0.9em;
	padding:5px;
	text-align:center;
	width:100px;
}
.yellow-tag{
	background-color:#FFD400;
	color:#000000;
}
.grey-tag{
	background-color:#383B3E;
	color:#FFFFFF;
}
.head-title {
	font-family:Quark-Light,arial,helvetica,sans-serif;
	color: #272626;
	font-size:2.06em;
	margin-bottom:20px;
}
h3.head-title {
	padding-left: 425px;
}	
.head-works h3{
	font-family:Quark-Bold,arial,helvetica,sans-serif;
	font-size:1.76em;
	color:#ADAA9C;

}
#wrap-form {
	font-family:Quark-Light,arial,helvetica,sans-serif;
	font-size:1.16em;
	color: #272626;
}
#submit-btn{
	margin-top:20px;
	}
#wrap-content h3{
}

#wrap-contact{
	/*
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border: 2px solid #FFF;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
	background-color: #F4F3D4;
	height: auto;
*/
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	
}
#wrap-address {
	/*
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
	*/
	/*border: 2px solid #FFF;*/	
	font-family:Quark-Light,arial,helvetica,sans-serif;
	font-size:1.5em;
	background-color: #383B3E;
	margin-top: 30px;
/*	height: 150px;*/
	padding: 15px;
	color:#fff;
}
#wrap-address h6{
	text-indent:20px;
	font-family:arial,helvetica,sans-serif;
	font-weight:400;
	font-size:0.83em;
	color:#fff;
	text-transform:lowercase;
}
#wrap-address  span #email{
	text-indent:20px;

}

/**********************FOOTER***********************/

footer{
	font-size:0.98em;
	height: auto;
	background-color: #F7F7F7;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #E8E7E2;
	text-transform: uppercase;

}

#footer-logo-desktop{
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../images/logo-footer.png);
	background-repeat: no-repeat;
	height: 120px;
	width: 122px;
	background-position: 0px 0px;
	margin-right:28px;
}
#footer-logo-mobile{
	display:none;
}
#footer-nav-desktop{
	margin-left:70px;
}
#footer-nav-mobile{
	display:none;
}
#footer-nav-desktop ul {
	display: block;

}
#footer-nav-desktop ul li{
	display: inline-block;
	margin-right: 5px;
}
#footer-nav-desktop ul li:last{
	display: inline-block;
}
#link-home {
	background-image: url(../images/nav_home4.png);
	background-repeat: no-repeat;
	height: 51px;
	width: 51px;
}
#link-work {
	background-image: url(../images/nav_work4.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 51px;
	width: 51px;
}
#link-contact {
	background-image: url(../images/nav_contact4.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 51px;
	width: 51px;
}
#link-fb {
	background-image: url(../images/nav_fb4.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 51px;
	width: 51px;
}
#footer-nav-desktop ul a:hover #link-home{
	background-image: url(../images/nav_home5.png);
	background-repeat: no-repeat;
	height: 51px;
	width: 51px;
}
#footer-nav-desktop ul a:hover #link-work{
	background-image: url(../images/nav_work5.png);
	background-repeat: no-repeat;
	height: 51px;
	width: 51px;
}
#footer-nav-desktop ul a:hover #link-contact{
	background-image: url(../images/nav_contact5.png);
	background-repeat: no-repeat;
	height: 51px;
	width: 51px;
}
#footer-nav-desktop ul a:hover #link-fb{
	background-image: url(../images/nav_fb5.png);
	background-repeat: no-repeat;
	height: 51px;
	width: 51px;
}
#footer-contact{
	
}
#footer-contact h3{
	border-bottom:1px solid #000;
	margin-bottom:20px;
}
#copyright-desktop{
	font-family:arial,helvetica,sans-serif;
	font-size:0.83em;
	text-align:right;
	padding-right:30px;

}
#copyright-mobile{
	display:none;

}
#wrap-address a:link{
	color: #ccc;
}
#wrap-address a:visited{
	color: #ccc;
}
#wrap-address a:hover{
	color: #FCC214;
}
/****************FORM******************/
label.error{
	color:#FFD400;
	margin-top:-10px;
	font-size:1.1em;
}
